/**{
	background-color: #222222;
	color:white;
}*/
body{
	padding-top: 40px;
	background-color: #222222;
	color:white;
}
#aboutme{
	padding: 0 0 0 0;
}
#skills{
	padding-top: 30px;
	background-color: #222222;
	color:white;
}
#education{
	padding-top: 30px;
	background-color: #222222;
	color:white;
}
#project{
	padding-top: 70px;
	background-color: #222222;
	color:white;
}
#workhistory{
	padding-top: 30px;
	background-color: #222222;
	color:white;
}
#volunteer{
	padding-top: 30px;
	background-color: #222222;
	color:white;
}
#contactme{
	padding-top: 30px;
	background-color: #222222;
	color:white;
}
	
.jumbotron{
	background-image: url("../images/city.jpg") ;
	background-size: cover;
	background-position: center;
	opacity: 1;
	height:700px;
	z-index: -1;
	color: #222;

	 &:before {
	    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		/*background-image: linear-gradient(to bottom right,#FFF,#000);*/
		opacity: .0; 
		z-index: 1;
	  }
}
#section-banner{

	padding: 10px 0px 10px 0px;
	color:#FFF;
	background-color: rgba(34,34,34,.5);
	
}
.jumbotron .container{
	margin-top: 100px;
}


.navbar-inverse .navbar-nav>li{
	text-transform: uppercase;
	color: #00cc00!important;
	
	
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus{
	text-transform: uppercase;	
	color: #00cc00!important;
	background-color: transparent; 
}
.navbar-inverse .navbar-nav>.active{
	color: #00cc00!important;
	background-color: transparent; 
}
.navbar-brand{
	text-transform: uppercase;
	font-weight: 400;
	color: #00cc00!important;
	line-height: 60px;
	padding-top: 25px;
}
.social-icons a i {
	border-radius:0;
	height:30px;
	line-height:inherit;
	width:30px;
	border-width:0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	margin-right:10px
}
.social-icons i:hover {
	transform: scale(.9);
}

.social-icons a {
	color: #00cc00;
	font-size: 20px;
	border: 1px solid #A2A2A2;
	border-radius: 50%;
	text-align: center;
	padding: 6px;
	width: 44px;
	height: 44px;
	display: inline-block;
	margin: 2px;
}



li {
    display: block;
}

.skill-list:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";/*"\e006";*/
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #00cc00;
}
.img-responsive{
	border-radius: 50%;
}
.myImage{
	border-radius: 50%;
	/*opacity: .5;*/

}
.container-aboutme #aboutMe{

	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;

	justify-content: space-around;
	align-items: center;

	
	
}

/*New about me section beginning*/
.aboutMeNew{

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	margin-top: -40px;
	z-index: -1;
	background-color: #222222;
}

.aboutMeNew .section1{
	width: 15%;
	height: 600px;
	background-image: url("../images/cityLong.jpg") ;
	background-size: cover;
	background-position: center;
	border-top: 5rem;
	border-top-color: #222222;

	

}
.aboutMeNew .section2{
	width: 70%;
	height:600px;
	
	
	
}
.aboutMeNew .section2 .about{
	margin: 85px 20px 0 20px;
	color: white;
	z-index: 1;
	font-size: 16px;
	
}
.aboutMeNew .section2 .btn-group{
	align-items: center
	text-align: center;
}
.aboutMeNew .section3{
	width: 15%;
	height: 600px;
	background-image: url("../images/cityLong.jpg") ;
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 700px) {
	.aboutMeNew{
	border-top: 5px;
	border-top-color: #222222;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	/*margin-top: -40px;*/
	z-index: -1;
	background-color: #222222;
}

.aboutMeNew .section1{

		width: 20%;
		height: 600px;
		background-image: url("../images/cityLong.jpg") ;
		background-size: cover;
		background-position: center;
	

}
.aboutMeNew .section2{
	
		width: 60%;
		height: 600px;
	
	
	
}
.aboutMeNew .section2 .about{

		margin: 120px 20px 0 20px;
		color: white;
		z-index: 1;
		font-size: 16px;
	/*text-align: center;*/
	
}
.aboutMeNew .section2 .btn-group{
	align-items: center
	text-align: center;
}
.aboutMeNew .section3{
	
		width: 20%;
		height: 600px;
		background-image: url("../images/cityLong.jpg") ;
		background-size: cover;
		background-position: center;
	

}
}

@media screen and (min-width: 1100px) {
	.aboutMeNew{

	
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	/*margin-top: -40px;*/
	z-index: -1;
	background-color: #222222;
}

.aboutMeNew .section1{
		
		width: 30%;
		height: 600px;
		background-image: url("../images/cityLong.jpg") ;
		background-size: cover;
		background-position: center;
	

}
.aboutMeNew .section2{
		
		width: 40%;
		height: 600px;
		z-index: 0;
	
	
	
}
.aboutMeNew .section2 .about{

		margin: 150px 20px 0 20px;
		color: white;
		z-index: 1;
		font-size: 16px;
	/*text-align: center;*/
	
}
.aboutMeNew .section2 .btn-group{
	align-items: center
	text-align: center;
}
.aboutMeNew .section3{
		
		width: 30%;
		height: 600px;
		background-image: url("../images/cityLong.jpg") ;
		background-size: cover;
		background-position: center;
		z-index: 0;

}
}
/*New about me section Ending*/

/*New skills Section Beginning*/
#skills{
	margin-top:-22px;
	text-align: center;
	padding-bottom: 15px;
}

.skillsSection{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.skillsSection .skill{
	height:20rem;
	width: 100rem;
	color:#FFF;
	background-color: #222222;
	margin-top:-39px;
	border: 3px solid #00cc00;
	-webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
	
}

.skillsSection .skill h1{
	color: #FFFFFF;
	text-align: center;
}
.skillsSection .skill ul{
	/*margin-left: 40px;*/
}
.skillsSection .skill .orderedList{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 25%;
	margin-top: 25px;
}
.skillsSection .skill .orderedList .group1{
	height:65px;
	width:auto;
	display: flex;
	flex-wrap: nowrap;
	color:#00cc00;
	
}
.skillsSection .skill .orderedList .group2{
	height:65px;
	width:auto;
	display: flex;
	flex-wrap: nowrap;
	color: #00cc00;
	
}
@media screen and (min-width: 630px){
	.skillsSection .skill .orderedList{
	
	margin-left: 33%;
	
}
}
@media screen and (min-width: 835px)  {
	.skillsSection .skill{
	height:25rem;
	margin-top:-28px;
	}
	.skillsSection{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
}
	.skillsSection .skill .orderedList{
	
	margin-left: 10%;
	
}
}
@media screen and (min-width: 1083px) {
	.skillsSection .skill{
	height:20rem;
	margin-top:-28px;
	}
	.skillsSection{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
}
	.skillsSection .skill .orderedList{
	
	margin-left: 20%;
	
}
	
}
/*New skills Section Ending*/
/*New project Section beginning*/
#project{
	height: 20rem;
	text-align: center;
	background-color: #222222;
	color: white;
	margin-top: -22px;
	
}
.projectSection{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	background-color: #222222;
	background-image: url("../images/comp.jpg");
	width: auto;
	height: 600px;
	background-size: cover;
	background-position: center;
	margin-top: -70px;
	z-index: -1
}
.projectSection .project{
	width:40rem;
	height:40rem;
	background-color: #222222;
	z-index: 1;
	margin-top: 10rem;
}
/*New project Section Ending*/






